<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="This is my page">
    <title>添加主题--管理后台</title>
    <link th:href="@{/static/css/admin.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="header">
    <div id="welcome">欢迎使用新闻管理系统！</div>
    <div id="nav">
        <div id="logo"><img th:src="@{/static/images/logo.jpg}" alt="新闻中国"/></div>
        <div id="a_b01"><img th:src="@{/static/images/a_b01.gif}" alt=""/></div>
    </div>
</div>
<div id="admin_bar">
    <div id="status">管理员：<span th:text="${session.name}"></span> 登录 &#160;&#160;&#160;&#160; <a th:href="@{/login/logout}">退出登录</a>
    </div>
    <div id="channel"></div>
</div>
<div id="main">
    <!--<%@ include file="console_element/left.html" %>-->
    <div id="opt_list">
        <ul>
            <li><a th:href="@{/news/addNews}">添加新闻</a></li>
            <li><a th:href="@{/news/newsList}">新闻列表</a></li>
            <li><a th:href="@{/topic/addTopic}">添加主题</a></li>
            <li><a th:href="@{/topic/topicList}">主题列表</a></li>
        </ul>
    </div>
</div>
<div id="footer">
    <div id="site_link"><a href="#">关于我们</a><span>|</span> <a href="#">Aboue Us</a><span>|</span> <a
            href="#">联系我们</a><span>|</span> <a href="#">广告服务</a><span>|</span> <a href="#">供稿服务</a><span>|</span> <a
            href="#">法律声明</a><span>|</span> <a href="#">招聘信息</a><span>|</span> <a href="#">网站地图</a><span>|</span> <a
            href="#">留言反馈</a></div>
    <div>
        <p class="">24小时客户服务热线：010-68988888 &#160;&#160;&#160;&#160; <a href="#">常见问题解答</a> &#160;&#160;&#160;&#160;
            新闻热线：010-627488888<br/>
            文明办网文明上网举报电话：010-627488888 &#160;&#160;&#160;&#160; 举报邮箱：<a href="#">jubao@jb-aptech.com.cn</a></p>
        <p class="copyright">Copyright &copy; 1999-2009 News China gov, All Right Reserver<br/>
            新闻中国 版权所有</p>
    </div>
</div>
</body>
</html>
