<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base href="<%=basePath%>"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>新闻中国</title>
    <link th:href="@{/static/css/main.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/static/js/jquery.min.js}"></script>
    <script type="text/javascript">

        //在加载BOM对象时候调用的函数
        $(document).ready(function () {
            focusOnLogin();
            findInNews();
            findOutNews();
            findEnterNews();
            findTopics();
        });

        function check() {
            var login_username = document.getElementById("uname");
            var login_password = document.getElementById("upwd");
            if (login_username.value == "") {
                alert("用户名不能为空！请重新填入！");
                login_username.focus();
                return false;
            } else if (login_password.value == "") {
                alert("密码不能为空！请重新填入！");
                login_password.focus();
                return false;
            }
            return true;
        }

        function focusOnLogin() {
            $("#uname").focus();
        }

        function findInNews() {
            //ajax请求，发送请求的URL字符串
            $.ajax({
//                发送请求的URL字符串
                url:"/news/getInNews",
                dataType:"json", //预期服务器返回的数据类型
                type:"get",//客户端的请求方式
                contentType:"application/json",//发送至服务器时内容编码格式
//                data:JSON.stringify({id: 1, name:"springboot"}),
                async: true,//采取异步通信的方式
//                请求成功的回调函数：
                success:function (data) {
                    //将响应到的数据打印到控制台上
                    console.log(data);
//                    将相应的数据渲染到html内容当中
                    var str = "";
                    $.each(data, function () {
                        str+="<li><a href='/"+this.ntid+"'>"+this.ntitle+"</a></li>";
                    })
                    $("#inNews").html(str);
                },
                error:function () {
                    alert("数据发送失败");
                }
            })
        }

        function findOutNews() {
            //ajax请求，发送请求的URL字符串
            $.ajax({
//                发送请求的URL字符串
                url:"/news/getOutNews",
                dataType:"json", //预期服务器返回的数据类型
                type:"get",//客户端的请求方式
                contentType:"application/json",//发送至服务器时内容编码格式
//                data:JSON.stringify({id: 1, name:"springboot"}),
                async: true,//采取异步通信的方式
//                请求成功的回调函数：
                success:function (data) {
                    //将响应到的数据打印到控制台上
                    console.log(data);
                    var str = "";
//                    将相应的数据渲染到html内容当中
                    $.each(data, function () {
                       /* var li = $("<li>");
                        $("<li/>").html(this.ntitle).appendTo(li);
                        $("#outNews") .append(li);*/
                        str+="<li><a href='/"+this.ntid+"'>"+this.ntitle+"</a></li>";
                    });
                    $("#outNews").html(str);
                },
                error:function () {
                    alert("数据发送失败");
                }
            })
        }

        function findEnterNews() {
            //ajax请求，发送请求的URL字符串
            $.ajax({
//                发送请求的URL字符串
                url:"/news/getEnterNews",
                dataType:"json", //预期服务器返回的数据类型
                type:"get",//客户端的请求方式
                contentType:"application/json",//发送至服务器时内容编码格式
//                data:JSON.stringify({id: 1, name:"springboot"}),
                async: true,//采取异步通信的方式
//                请求成功的回调函数：
                success:function (data) {
                    //将响应到的数据打印到控制台上
                    console.log(data);
                    var str = "";
//                    将相应的数据渲染到html内容当中
                    $.each(data, function () {
                      /*  var li = $("<li>");
                        $("<li/>").html(this.ntitle).appendTo(li);
                        $("#enterNews") .append(li);*/
                        str+="<li><a href='/"+this.ntid+"'>"+this.ntitle+"</a></li>";
                    });
                    $("#enterNews").html(str);
                },
                error:function () {
                    alert("数据发送失败");
                }
            })
        }

        function findTopics() {
            //ajax请求，发送请求的URL字符串
            $.ajax({
//                发送请求的URL字符串
                url:"/topic/getTopics",
                dataType:"json", //预期服务器返回的数据类型
                type:"get",//客户端的请求方式
                contentType:"application/json",//发送至服务器时内容编码格式
//                data:JSON.stringify({id: 1, name:"springboot"}),
                async: true,//采取异步通信的方式
//                请求成功的回调函数：
                success:function (data) {
                    //将响应到的数据打印到控制台上
                    console.log(data);
                    var str = "";
//                    将相应的数据渲染到html内容当中
                    $.each(data, function () {
                     /*   var li = $("<li>");
                        $("<li/>").html(this.tname).appendTo(li);
                        $("#topics") .append(li);*/
                        str+="<li><a href='/"+this.tid+"'>"+this.tname+"</a></li>";
                    });
                    $("#topics").html(str);
                },
                error:function () {
                    alert("数据发送失败");
                }
            })
        }

    </script>

</head>

<body>

<div id="header">
    <div id="top_login">
        <form th:action="@{login/doLogin}" method="post" onsubmit="return check()">
            <input type="hidden" name="opr" value="login"/>
            <label> 登录名 </label>
            <input type="text" name="uname" value="" class="login_input" id="uname"/>
            <label> 密&#160;&#160;码 </label>
            <input type="password" name="upwd" value="" class="login_input" id="upwd"/>
            <input type="submit" class="login_sub" value="登录"/>
            <label id="error"> </label>
            <img th:src="@{/static/images/friend_logo.gif}" alt="Google" id="friend_logo"/>
        </form>
    </div>
    <div id="nav">
        <div id="logo"><img th:src="@{/static/images/logo.jpg}" alt="新闻中国"/></div>
        <div id="a_b01"><img th:src="@{/static/images/a_b01.gif}" alt=""/></div>
        <!--mainnav end-->
    </div>
</div>
<div id="container">

    <!--<%@ include file="index-elements/index_sidebar.jsp"%>-->
    <div class="sidebar">
        <h1><img th:src="@{/static/images/title_1.gif}" alt="国内新闻"/></h1>
        <div class="side_list">
            <ul id="inNews">
            <!-- <li th:each="inNews:${inNewsList}"><a th:href="${inNews.nid}"><b th:text="${inNews.ntitle}"></b></a>
             </li>-->
        </ul>
        </div>
        <h1><img th:src="@{/static/ images/title_2.gif}" alt="国际新闻"/></h1>
        <div class="side_list">
            <ul id="outNews">
                <!--<li th:each="outNews:${outNewsList}"><a th:href="${outNews.nid}"><b th:text="${outNews.ntitle}"></b></a>
                </li>-->
            </ul>
        </div>
        <h1><img th:src="@{/static/images/title_3.gif}" alt="娱乐新闻"/></h1>
        <div class="side_list">
            <ul id="enterNews">
              <!--  <li th:each="enterNews:${enterNewsList}"><a th:href="${enterNews.nid}"><b
                        th:text="${enterNews.ntitle}"></b></a></li>-->
            </ul>
        </div>
    </div>
    <div class="main">
        <div class="class_type"><img th:src="@{/static/images/class_type.gif}" alt="新闻中心"/></div>
        <div class="content">
            <ul class="class_date" id="topics">
               <!-- <li id="class_month" th:each="topic:${topicList}">
                    <a href="util/news?opr=listTitle&tid=${topic.tid}"><b th:text="${topic.tname}"></b></a>
                </li>-->
            </ul>
            <ul class="classlist">
                <li th:each="allNews:${allNewsList}">
                    <a href='util/news?opr=readNew&nid=${news.nid}'><b th:text="${allNews.ntitle}"></b></a>
                    <span th:text="${#dates.format(allNews.ncreatedate,'yyyy-MM-dd HH:mm:ss')}"></span>
                </li>
                <p align="center"> 当前页数:[${pageIndex}/${totalPages}]&nbsp;
                     <!--<c:if test="${pageIndex > 1}">-->
                         <a href="util/news?opr=listTitle&pageIndex=1">首页</a>&nbsp;
                         <a href="util/news?opr=listTitle&pageIndex=${pageIndex - 1}">上一页</a>
                     <!--</c:if>-->
                     <!--<c:if test="${pageIndex < totalPages}">-->
                         <a href="util/news?opr=listTitle&pageIndex=${pageIndex + 1}">下一页</a>
                         <a href="util/news?opr=listTitle&pageIndex=${totalPages}">末页</a>
                     <!--</c:if>-->
                </p>
            </ul>
        </div>
        <!--<%@ include file="index-elements/index_rightbar.html"%>-->
        <div class="picnews">
            <ul>
                <li><a href="#"><img th:src="@{/static/images/Picture1.jpg}" width="249" alt=""/> </a><a href="#">幻想中穿越时空</a>
                </li>
                <li><a href="#"><img th:src="@{/static/images/Picture2.jpg}" width="249" alt=""/> </a><a href="#">国庆多变的发型</a>
                </li>
                <li><a href="#"><img th:src="@{/static/images/Picture3.jpg}" width="249" alt=""/> </a><a href="#">新技术照亮都市</a>
                </li>
                <li><a href="#"><img th:src="@{/static/images/Picture4.jpg}" width="249" alt=""/> </a><a href="#">群星闪耀红地毯</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--<%@ include file="index-elements/index_bottom.html"%>-->
<div id="friend">
    <h1 class="friend_t"><img th:src="@{/static/images/friend_ico.gif}" alt="合作伙伴"/></h1>
    <div class="friend_list">
        <ul>
            <li><a href="#">百度</a></li>
            <li><a href="#">谷歌</a></li>
            <li><a href="#">新浪</a></li>
            <li><a href="#">网易</a></li>
            <li><a href="#">搜狐</a></li>
            <li><a href="#">人人</a></li>
            <li><a href="#">中国政府网</a></li>
        </ul>
    </div>
</div>
<div id="footer">
    <p class=""> 24小时客户服务热线：010-68988888 &#160;&#160;&#160;&#160; <a href="#">常见问题解答</a> &#160;&#160;&#160;&#160;
        新闻热线：010-627488888 <br/>
        文明办网文明上网举报电话：010-627488888 &#160;&#160;&#160;&#160; 举报邮箱： <a href="#">jubao@jb-aptech.com.cn</a></p>
    <p class="copyright"> Copyright &copy; 1999-2009 News China gov, All Right Reserver <br/>
        新闻中国 版权所有 </p>
</div>
</body>
</html>